@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:ital,wght@0,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Roboto";
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1200px;
  padding: 0px 5px;
  margin: 0px auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.main-screen {
  background: url("../images/main_image.jpg") center no-repeat;
  background-size: cover;
}

.main {
  margin-top: 230px;
  text-align: center;
}
.main__label {
  color: #ffffff;
  font-family: "Kaushan Script";
  font-size: 72px;
  font-weight: 400;
}
.main__title {
  margin: 42px 0 124px 0;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 150px;
  font-weight: 700;
  line-height: 140px;
  text-transform: uppercase;
}
.main__title:after {
  content: "";
  display: block;
  position: relative;
  width: 60px;
  height: 3px;
  background-color: #fff;
  margin: 0px auto;
  bottom: -50px;
}
.main__btn a {
  border: 1px solid #fff;
  padding: 15px 33px;
  color: #ffffff;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
}
.main__btn a:hover {
  color: #fce38a;
}
.main__body {
  margin: 199px 0 10px 0;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: Montserrat;
}
.main__row {
  flex: 0 1 25%;
  margin: 0 15px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.main__row span {
  font-size: 24px;
  font-weight: 700;
}
.main__row:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
  top: -25px;
}
@media (max-width: 850px) {
  .main {
    margin-top: 100px;
  }
  .main__body {
    margin: 107px 0 10px 0;
  }
  .main__title {
    font-size: 80px;
    line-height: 80px;
  }
  .main__label {
    font-size: 45px;
  }
}
@media (max-width: 500px) {
  .main {
    margin-top: 60px;
  }
  .main__body {
    margin: 67px 0 10px 0;
  }
  .main__title {
    font-size: 50px;
    line-height: 50px;
  }
  .main__label {
    font-size: 30px;
  }
  .main__btn a {
    border: 1px solid #fff;
    padding: 10px 23px;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
  }
  .main__btn a:hover {
    color: #fce38a;
  }
  .main__row {
    flex: 0 1 25%;
    margin: 0 15px;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
  }
  .main__row span {
    font-size: 14px;
    font-weight: 700;
  }
  .main__row:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    top: -15px;
  }
}

.about__label {
  margin: 91px 0px 21px 0px;
  text-align: center;
}
.about__title {
  text-align: center;
}
.about__text {
  margin: 90px 0 101px 0;
  text-align: center;
}
.about__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}
.about__column {
  flex: 0 1 33.333%;
  margin: 0 5px;
}
.about__column img {
  max-width: 100%;
}

.title {
  color: #333333;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.title:after {
  content: "";
  display: block;
  position: relative;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 0px auto;
  bottom: -40px;
}

.label {
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
}

.text {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 20px;
}

.blue {
  background-color: #95e1d3;
}
.blue__row {
  display: flex;
  justify-content: space-between;
}
.blue__column {
  flex: 0 1 20%;
  margin: 0 5px;
}
.blue__body {
  margin: 90px 0px;
}
.blue__num {
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.blue__text {
  text-align: center;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
@media (max-width: 650px) {
  .blue__num {
    font-size: 45px;
  }
}
@media (max-width: 500px) {
  .blue__num {
    text-align: center;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .blue__text {
    text-align: center;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
.service {
  padding-top: 109px;
}
.service__label {
  text-align: center;
  margin: 0px 0 22px 0;
}
.service__title {
  text-align: center;
}
.service__body {
  margin: 115px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
}
.service__block {
  flex: 0 1 33.333%;
  margin: 0px 5px;
}
.service__item {
  display: flex;
  margin-bottom: 100px;
}
@media (max-width: 700px) {
  .service {
    padding-top: 50px;
  }
  .service__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service__block {
    max-width: 350px;
  }
}

.item__icon {
  margin-right: 27px;
}
.item__title {
  color: #333333;
  font-family: Montserrat;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.design {
  background: url("../images/design__bg.png") center/cover no-repeat;
}
.design__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.design__label {
  margin: 109px 0px 22px 0px;
}
.design__image {
  margin-top: 86px;
}
.design__base {
  background-color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 500px) {
  .design__image {
    margin-top: 66px;
    flex: 0 1 100%;
    padding: 0px 15px;
  }
  .design__image img {
    max-width: 100%;
  }
}

.do__label {
  text-align: center;
  margin: 112px 0px 23px 0;
}
.do__title {
  text-align: center;
}
.do__text {
  text-align: center;
  margin: 91px 0;
}
.do__body {
  display: flex;
  margin-bottom: 120px;
}
.do__image {
  flex: 0 1 50%;
  margin-right: 5px;
}
.do__image img {
  max-width: 100%;
}
.do__menu {
  flex: 0 1 50%;
  margin-left: 5px;
  border: 1px solid #e5e5e5;
}
@media (max-width: 800px) {
  .do__body {
    display: block;
  }
  .do__image {
    text-align: center;
    margin: 0px 10px 30px 10px;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid #e5e5e5;
}
.menu__link {
  color: #333333;
  font-family: Montserrat;
  text-transform: uppercase;
}
.menu__icon {
  margin: 15px;
}
.menu__arrow {
  position: absolute;
  right: 20px;
}

.menu__list:hover .sub-menu__list {
  display: block;
}

.sub-menu__list {
  display: none;
  position: absolute;
  padding: 45px 55px 20px 20px;
}
.sub-menu__list p {
  color: #999999;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
}

.sub-menu__list {
  position: relative;
  left: 0;
  top: 0;
}

.slider {
  min-width: 0;
  background-color: #f8f8f8;
  padding: 70px 0px;
}
.slider__main {
  min-width: 0;
}
.slider__body {
  display: flex;
  align-items: center;
}
.slider__icon {
  padding: 45px;
  border: 3px solid #95e1d3;
  margin-right: 60px;
}
.slider__text {
  color: #999999;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 36px;
}
.slider__name {
  margin-top: 23px;
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  position: relative;
  padding: 0 0 0 70px;
}
.slider__name:before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  top: 50%;
  left: 0;
}
@media (max-width: 650px) {
  .slider__body {
    display: block;
  }
  .slider__text {
    color: #999999;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
  }
  .slider__icon {
    display: block;
    width: 100px;
    margin: 0px auto;
    padding: 10px;
    border: 3px solid #95e1d3;
    text-align: center;
  }
}

/* Слайдер */
.slick-slider {
  position: relative;
  padding: 0px 75px;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 30px;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 20px;
  background: url("../images/arrow_previous.png") 0 0 no-repeat;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 20px;
  background: url("../images/arrow_next.png") 0 0 no-repeat;
}

.meet__label {
  text-align: center;
  margin: 99px 0px 23px 0px;
}
.meet__title {
  text-align: center;
}
.meet__text {
  margin: 92px 0px;
  text-align: center;
}
.meet__body {
  display: flex;
  margin-bottom: 115px;
}
.meet__column {
  flex: 0 1 33.333%;
  margin: 0px 5px;
}
.meet__image img {
  max-width: 100%;
}
.meet__name {
  text-align: center;
  margin: 31px 0px 15px 0px;
  color: #333333;
  font-family: Montserrat;
  text-transform: uppercase;
}
.meet__job {
  text-align: center;
  color: #999999;
  font-family: "Roboto";
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
  line-height: 24px;
}

.logo {
  background-color: #f8f8f8;
  padding: 50px 0px;
}
.logo__row {
  display: flex;
}
.logo__image {
  text-align: center;
  flex: 0 1 100%;
}
.logo__image img {
  max-width: 100%;
}

.work {
  padding-top: 110px;
}
.work__label {
  text-align: center;
  margin: 0 0px 23px 0px;
}
.work__title {
  text-align: center;
}
.work__text {
  text-align: center;
  margin: 91px 0px 102px 0px;
}
.work__body {
  display: flex;
}
.work__column {
  flex: 1 1 25%;
}
.work__column img {
  max-width: 100%;
}
.work .container1 {
  max-width: 1920px;
  margin: 0px auto;
}

.comment {
  padding: 100px 0px;
}
.comment__row {
  display: flex;
  align-items: center;
}
.comment__image {
  margin-right: 60px;
}
.comment__text {
  color: #999999;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
  line-height: 36px;
}
.comment__name {
  margin-top: 23px;
  color: #333333;
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  position: relative;
  padding: 0 0 0 70px;
}
.comment__name:before {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  top: 50%;
  left: 0;
}
@media (max-width: 700px){
  .work {
    padding-top: 50px;
  }
}
@media (max-width: 570px) {

  .comment__text {
    color: #999999;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
  }
  .comment__image {
    margin-right: 10px;
  }
  .comment__image img {
    max-width: 100px;
  }
}

.what {
  background: url("../images/what__bg.jpg") center/cover no-repeat;
}
.what__base {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 110px 0px 29px 0px;
}
.what__label {
  text-align: center;
}
.what__title {
  text-align: center;
  margin: 16px 0px 132px 0px;
}
.what__body {
  display: flex;
  justify-content: space-between;
}
.what__column {
  flex: 0 1 50%;
  margin: 0px 5px;
}
.what__item {
  display: flex;
  align-items: center;
  margin-bottom: 81px;
}
.what__image {
  margin-right: 30px;
}
.what__name {
  color: #333333;
  font-family: Montserrat;
  text-transform: uppercase;
}
.what__job {
  color: #333333;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  margin: 15px 0px 45px 0px;
  position: relative;
}
.what__job:after {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  bottom: 0;
  left: 0;
  bottom: -17px;
}
.what__text {
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 650px) {
  .what__body {
    display: flex;
    flex-direction: column;
  }
}

.blog {
  padding: 110px 0px;
}
.blog__label {
  text-align: center;
}
.blog__title {
  margin: 22px 0px 92px 0px;
  text-align: center;
}
.blog__body {
  display: flex;
}
.blog__column {
  flex: 0 1 33.333%;
  margin: 0px 5px;
}
.blog__image img {
  max-width: 100%;
}
.blog__name {
  margin: 20px 0px;
  color: #333333;
  font-family: Montserrat;
  text-transform: uppercase;
}
.blog__text {
  margin-bottom: 41px;
  color: #999999;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  position: relative;
}
.blog__text:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  bottom: -20px;
  left: 0;
}
.blog__icons {
  display: flex;
}
.blog__icons span {
  margin-right: 20px;
}
@media (max-width: 650px) {
  .blog__body {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0px auto;
  }
  .blog__column {
    margin-bottom: 20px;
  }
}

@media (max-width: 850px) {
  .about__label {
    margin-top: 50px;
  }

  .about__text {
    margin-bottom: 50px;
  }

  .about__body {
    margin-bottom: 50px;
  }

  .blue__body {
    margin: 40px 0px;
  }

  .service__label {
    margin-top: 50px;
  }

  .service__item {
    margin-bottom: 50px;
  }

  .design__label {
    margin-top: 50px;
  }

  .do__label {
    margin-top: 50px;
  }

  .do__text {
    margin-bottom: 50px;
  }

  .do__body {
    margin-bottom: 50px;
  }

  .slider {
    padding: 40px 0px;
  }

  .meet__label {
    margin-top: 50px;
  }

  .meet__text {
    margin-bottom: 50px;
  }

  .meet__body {
    margin-bottom: 50px;
  }

  .logo {
    padding: 30px 0px;
  }

  .work__label {
    margin-top: 50px;
  }

  .work__text {
    margin-bottom: 50px;
  }

  .comment {
    padding: 35px 0px;
  }

  .what__base {
    padding: 50px 0px 10px 0px;
  }
  .what__item {
    margin-bottom: 40px;
  }

  .blog {
    padding: 50px;
  }
}
.footer__row {
  border-top: 2px solid #e5e5e5;
  border-top: 2px solid #e5e5e5;
  padding: 30px 0px;
  text-align: center;
}
.footer__name {
  color: #333333;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}
.footer__name span {
  color: #f38181;
}

.header {
  background-color: #e88983;
  opacity: 0.8;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 60px;
  align-items: center;
}

.header__logo {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.header__logo a {
  color: #fff;
}

.header__burger {
  display: none;
}

.header__list {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin: 0 0 0 20px;
}

.header__link {
  color: #ffffff;
  font-family: Montserrat;
  text-transform: uppercase;
}
.header__link:hover {
  color: #fce38a;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
    justify-content: space-between;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    right: 10px;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3 ease 0s;
    background-color: #18b5a4;
    padding: 70px 10px 20px 10px;
  }

  .header__menu.active {
    top: 0;
  }
  .header__link:hover {
    color: #fce38a;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0 0 20px 0;
  }

  .header__link {
    font-size: 30px;
  }

  .icon {
    display: none;
  }
}